@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
  --color-bg: #F9FAFB;         /* clean, airy background */
  --color-cream: #FFFFFF;      /* pure white for sections/cards */

  --color-deep-green: #2F4858; /* trust, stability, grounded */
  --color-sage: #A8C4B3;       /* calm, restorative accent */
  --color-mist-blue: #9FB7CF;  /* soft mental clarity */
  --color-lavender-gray: #C8CADC; /* gentle calming neutral */

  --color-sand: #EBD9C4;       /* warm, comforting undertone */
  --color-terracotta: #af906d; /* subtle accent, not too harsh */

  --color-pale-mint: #F3F8F6; 
  --color-deep-blue: #0d3a49 /* background wash for sections */
}



body {
  font-family: 'Inter', sans-serif;
}

.hero-phrase {
  font-family: 'Playfair Display', serif;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}